<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Find Movies</title>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
	
<!-- Custom fonts for this template -->
<link href="/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet">
<link
	href="/vendor/simple-line-icons/css/simple-line-icons.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link href="/css/landing-page.css" rel="stylesheet">

</head>

<body>

	<!-- Masthead -->
	<header class="masthead text-white text-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-5">Search for your favourite Movies and Shows
						here!</h1>
				</div>
				<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
					<form>
						<div class="form-row">
							<div class="col-12 col-md-6 mb-2 mb-md-0">
								<input type="text" id="search_txt"
									class="form-control form-control-lg"
									placeholder="Enter the movie name...">
							</div>
							<div class="col-12 col-md-4 mb-2 mb-md-0">
								<select id="country_code"
									class="mdb-select md-form form-control-lg">
									<option value="0" disabled selected>Country</option>
									<option value="in">India</option>
									<option value="us">USA</option>
									<option value="uk">United Kingdom</option>
									<option value="ar">Argentina</option>
									<option value="at">Austria</option>
									<option value="au">Australia</option>
									<option value="be">Belgium</option>
									<option value="br">Brazil</option>
									<option value="ca">Canada</option>
									<option value="ch">Switzerland</option>
									<option value="cz">Czechia</option>
									<option value="dk">Denmark</option>
									<option value="de">Germany</option>
									<option value="ee">Estonia</option>
									<option value="es">Spain</option>
									<option value="fr">France</option>
									<option value="hk">Hong Kong</option>
									<option value="hu">Hungary</option>
									<option value="ie">Ireland</option>
									<option value="il">Israel</option>
									<option value="is">Iceland</option>
									<option value="it">Italy</option>
									<option value="jp">Japan</option>
									<option value="kr">South Korea</option>
									<option value="lt">Lithuania</option>
									<option value="lv">Latvia</option>
									<option value="mx">Mexico</option>
									<option value="nl">Netherlands</option>
									<option value="no">Norway</option>
									<option value="nz">New Zealand</option>
									<option value="ph">Philippines</option>
									<option value="pl">Poland</option>
									<option value="pt">Portugal</option>
									<option value="ro">Romania</option>
									<option value="ru">Russia</option>
									<option value="se">Sweden</option>
									<option value="sg">Singapore</option>
									<option value="sk">Slovakia</option>
									<option value="th">Thailand</option>
									<option value="za">South Africa</option>
								</select>
							</div>
							<div class="col-12 col-md-2">
								<button type="button" onclick="doSearch()"
									class="btn btn-block btn-lg btn-primary">Search!</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>

	<!-- Image Showcases -->
	<section class="showcase">
		<!-- Movie lists will be appended here dynamically using Jquery -->
		<div class="container-fluid p-0" id="response_list"></div>
	</section>


	<!-- Footer -->
	<footer class="footer bg-light border-primary border-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-75 text-center text-lg-left my-auto">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a href="/views/AboutMe.html">About</a></li>
						<li class="list-inline-item">&sdot;</li>
						<li class="list-inline-item"><a href="/views/TermsAndConditions.html">Terms of Use</a></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">&copy; Find Movies
						2020. All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 h-75 text-center text-lg-right my-auto">
					<ul class="list-inline mb-0">
						<li class="list-inline-item mr-3"><a
							href="https://www.facebook.com/Prebeesh.S" target="_blank"> <i
								class="fab fa-facebook fa-2x fa-fw"></i>
						</a></li>
						<li class="list-inline-item mr-3"><a
							href="https://twitter.com/PrebeeshS" target="_blank"> <i
								class="fab fa-twitter-square fa-2x fa-fw"></i>
						</a></li>
						<li class="list-inline-item"><a
							href="https://www.instagram.com/prebeesh_s/" target="_blank">
								<i class="fab fa-instagram fa-2x fa-fw"></i>
						</a></li>
						<li class="list-inline-item"><a
							href="https://www.linkedin.com/in/prebeesh-s-581136153/"
							target="_blank"> <i class="fab fa-linkedin fa-2x fa-fw"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/js/Index.js"></script>

</body>

</html>
