<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>About Me</title>

<!-- Bootstrap core CSS -->
<link href="/webapp/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="/webapp/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/webapp/vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet" type="text/css">
<link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">

<link href="/webapp/css/about-me.css" rel="stylesheet">


</head>
<body>
<section id="About" class="m-3 p-5">
    <div class="mb-5">
        <h1 class="text-center h1">Prebeesh Surendran</h1>
        <hr>
        <p align="center" class="lead">
            Prebeesh, the mind behind this website, is a passionate Java backend developer with a dedication to building
            scalable, high-performance solutions for web applications. With a focus on clean, maintainable code,
            Prebeesh creates robust systems that drive seamless user experiences. A firm believer in continuous learning
            and improvement, he strives for excellence in every project.
        </p>
        <p align="center" class="lead">
            Prebeesh believes that innovation and creative problem-solving are key to success. By fostering
            collaboration and embracing new ideas, he empowers teams to work more effectively and achieve better
            outcomes. His unique approach combines technical expertise with a passion for continuous improvement,
            consistently delivering results that make a lasting impact.
        </p>
    </div>
    <div class="container-fluid p-2">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-fluid rounded" src="/webapp/img/about-me-2.JPG"></img>
            </div>
            <div class="col-lg-8">
                <h4 class="mt-1">Personal Details</h4>
                <dl class="row">
                    <dt class="col-sm-3">Address</dt>
                    <dd class="col-sm-9">
                        478 Pearl Street, Burlington, ON, L7R 2N3, Canada.
                    </dd>

                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">prebeesh.surendran@gmail.com</dd>

                    <dt class="col-sm-3">Mobile Number</dt>
                    <dd class="col-sm-9">(+1)437-869-7662</dd>

                    <dt class="col-sm-3">Birthday</dt>
                    <dd class="col-sm-9">26th November 1996</dd>

                    <dt class="col-sm-3">Education</dt>
                    <dd class="col-sm-9">
                        Bachelors Degree in Computer Science and Engineering under Kerala
                        University.<br>7.83 CGPA
                    </dd>

                    <dt class="col-sm-3">Public Profiles</dt>
                    <dd class="col-sm-9">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a
                                    href="https://www.linkedin.com/in/prebeesh-s-581136153/"
                                    target="_blank"> <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a></li>
                            <li class="list-inline-item mr-3"><a
                                    href="https://stackoverflow.com/users/7288445/prebeesh"
                                    target="_blank"> <i
                                    class="fab fa-stack-overflow fa-2x fa-fw"></i>
                            </a></li>
                            <li class="list-inline-item mr-3"><a
                                    href="https://github.com/Prebeesh" target="_blank"> <i
                                    class="fab fa-github fa-2x fa-fw"></i>
                            </a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

        <!-- Skills -->
        <section class="section m-2">
            <h3 class="text-center">Skills</h3>
            <div class="row p-3">
                <div class="col-lg-6 p-2">
                    <div class="p-2">
                        <h5>Core Java - 8, 11, 17 <i>(Oracle Certified Associate)</i></h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 90%;">90%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>Spring Boot & Reactive Spring</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 85%;">85%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>Microservices Architecture</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 80%;">80%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>Apache Kafka</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>AWS</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-2">
                    <div class="p-2">
                        <h5>CI/CD (Jenkins, Ansible, Git)</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 75%;">75%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>Docker, Kubernetes & Openshift</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 70%;">70%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>RESTful API Development</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 80%;">80%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>SQL</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 80%;">80%</div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h5>UI - HTML, CSS, JS, JQuery, React</h5>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: 30%;">30%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skills Section Ends -->

        <!-- Tools and Certification -->
        <section class="section">
            <div class="row mt-3 p-3">
                <div class="col-lg-6 px-5">
                    <h3 class="mb-4 text-center">Tools - Good at</h3>
                    <div class="row text-center">
                        <div class="col-lg-12"></div>
                        <div class="h5 p-2">
                            <i class="fa fa-wrench fa-1x fa-fw"></i> Maven<span
                                class="text-muted"> - A build automation tool</span>
                        </div>
                        <div class="h5 p-2">
                            <i class="fa fa-wrench fa-1x fa-fw"></i> Git, Github <span
                                class="text-muted"> - A distributed version-control
									system</span>
                        </div>
                        <div class="h5 p-2">
                            <i class="fa fa-wrench fa-1x fa-fw"></i> Intellij, Eclipse, STS <span
                                class="text-muted"> - IDEs for Java development</span>
                        </div>
                        <div class="h5 p-2">
                            <i class="fa fa-wrench fa-1x fa-fw"></i> Postman, Swagger <span
                                class="text-muted"> - To test API endpoints</span>
                        </div>
                        <div class="h5 p-2">
                            <i class="fa fa-wrench fa-1x fa-fw"></i> SonarQube, Blackduck, Checkmarx <span
                                class="text-muted"> - Code Quality scanning tools</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-3 text-center">Certifications</h3>
                    <div class="px-2">
                        <div class="h5 p-2">
                            <i class="fab fa-black-tie" aria-hidden="true"></i>&nbsp Oracle
                            Certified Associate, Java SE 8 Programmer
                            <p align="right" class="text-muted">- Oracle. Score: 88%</p>
                            <p align="right">
                                <a
                                        href="https://drive.google.com/file/d/1rvxmJUkTz6LlN2_LJBPQDadvTOL4IAVp/view?usp=sharing"
                                        target="_blank">See the Certificate</a>
                            </p>
                        </div>
                        <div class="h5 p-2">
                            <i class="fab fa-black-tie" aria-hidden="true"></i>&nbsp Online
                            Course on Blockchain for Beginners
                            <p align="right" class="text-muted">- CSI Trivandrum</p>
                            <p align="right">
                                <a
                                        href="https://drive.google.com/file/d/1L0SKqJBnXb506VdUrfqfcXHRQPT8rhtU/view?usp=sharing"
                                        target="_blank">See the Certificate</a>
                            </p>
                        </div>
                        <div class="h5 p-2">
                            <i class="fab fa-black-tie" aria-hidden="true"></i>&nbsp Certified SAFe® 5 Agilist
                            <p align="right" class="text-muted">- Scaled Agile Inc</p>
                            <p align="right">
                                <a
                                        href="https://www.credly.com/badges/21c8beca-da9f-47b9-99c1-84a185e9520c"
                                        target="_blank">See the badge</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Tools and Certification Ends-->

        <!-- Project -->
        <section class="m-2">
            <h3 class="text-center mb-5">Personal Project Works</h3>
            <dl class="row px-4">
                <dt class="col-sm-3">Find Movies</dt>
                <dd class="col-sm-9">
                   <p> FindMovies is a platform designed to help users check the availability of their favorite movies and shows across various streaming services. The web application references all the major streaming platforms and includes movie details from sources such as IMDb and TMDb. The system's backend is powered by a set of MicroServices built using Spring Boot, while the frontend is developed using JavaScript, jQuery, and Bootstrap CSS. In the current release, FindMovies version 1.0, users can search for movies by entering the movie title and selecting the relevant country to check its availability.
                   </p>
                    <b>Future Enhancements (FindMovies Version 2.0) -</b>
                    In the upcoming FindMovies version 2.0, we are introducing a new feature that will allow users to provide reviews for movies or shows available on the platform. The MicroService that will enable this feature is currently under development at FindMovies.
                    <p align="left">
                        <a href="https://tinyurl.com/find-movies-online" target="_blank">Find Movies prod URL</a><br> <i>GitHub - production ready source code of
                        FindMovies microservices :&nbsp</i><a
                            href="https://github.com/Prebeesh/findmovies-eurekaserver"
                            target="_blank">Service 1&nbsp</a><a
                            href="https://github.com/Prebeesh/find-movies-frontend"
                            target="_blank">Service 2&nbsp</a><a
                            href="https://github.com/Prebeesh/movie-name-service-provider"
                            target="_blank">Service 3</a>
                    </p>
                </dd>

                <dt class="col-sm-3">Sandesh</dt>
                <dd class="col-sm-9">
                    <p>
                    Sandesh is an Android application designed to improve the communication process within college advisory systems. The app allows student advisors to efficiently share important information with their students, a task traditionally managed through WhatsApp groups. Sandesh leverages an SMS gateway to send messages directly to students' or parents' cell phones, ensuring that critical information reaches them even when they are offline, reducing the chances of missed communication.
                    </p>
                    Developed by Prebeesh, Sandesh addressed a real-time challenge within his academic institution and was created during his college years. The project received recognition at the All Kerala IEDC Summit 2018.
                </dd>
            </dl>
            <p align="right">
                <a
                        href="https://drive.google.com/file/d/1Ykgr9pyyhCF-m23WTv0qHRqjTdhAyDAD/view?usp=sharing"
                        target="_blank">Download resume here</a>
            </p>
        </section>
        <!-- Project ends-->
    </div>

</section>

<!-- Footer -->
<footer class="footer bg-light border-primary border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-75 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="../views/AboutMe.html">About</a></li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item"><a
                            href="../views/TermsAndConditions.html">Terms of Use</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Find Movies
                    2020. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-75 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3"><a
                            href="https://www.facebook.com/Prebeesh.S" target="_blank"> <i
                            class="fab fa-facebook fa-2x fa-fw"></i>
                    </a></li>
                    <li class="list-inline-item mr-3"><a
                            href="https://twitter.com/PrebeeshS" target="_blank"> <i
                            class="fab fa-twitter-square fa-2x fa-fw"></i>
                    </a></li>
                    <li class="list-inline-item"><a
                            href="https://www.instagram.com/prebeesh_s/" target="_blank">
                        <i class="fab fa-instagram fa-2x fa-fw"></i>
                    </a></li>
                    <li class="list-inline-item"><a
                            href="https://www.linkedin.com/in/prebeesh-s-581136153/"
                            target="_blank"> <i class="fab fa-linkedin fa-2x fa-fw"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="/webapp/vendor/jquery/jquery.min.js"></script>
<script src="/webapp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>