<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>About Me</title>

<!-- Bootstrap core CSS -->
<link href="/webapp/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="/webapp/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/webapp/vendor/simple-line-icons/css/simple-line-icons.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">

<link href="/webapp/css/about-me.css" rel="stylesheet">


</head>
<body>
	<section id="About" class="m-3 p-5">
		<div class="mb-5">
			<h1 class="text-center h1">Prebeesh Surendran</h1>
			<hr>
			<p align="center" class="lead">
				&nbspPrebeesh, the creator of this website is a <b>Java backend
					developer</b> who loves to learn and work for the best. He creates
				beautiful and well maintanable backend block for web applications.
				Also, a believer of <b>Edward de Bono</b>'s words <b><i>Creative
						thinking is not a talent; it is a skill that can be learned. It
						empowers people by adding strength to their natural abilities
						which improve teamwork and productivity.</i></b>
			</p>
		</div>
		<div class="container-fluid p-2">
			<div class="row">
				<div class="col-lg-4">
					<img class="img-fluid rounded" src="/webapp/img/about-me.png"></img>
				</div>
				<div class="col-lg-8">
					<h4 class="mt-1">Personal Details</h4>
					<dl class="row">
						<dt class="col-sm-3">Address</dt>
						<dd class="col-sm-9">
							478 Pearl Street, Burlington, ON, L7R 2N3, Canada.
						</dd>

						<dt class="col-sm-3">Email</dt>
						<dd class="col-sm-9">prebeesh.surendran@gmail.com</dd>

						<dt class="col-sm-3">Mobile Number</dt>
						<dd class="col-sm-9">(+1)437-869-7662</dd>

						<dt class="col-sm-3">Birthday</dt>
						<dd class="col-sm-9">26th November 1996</dd>

						<dt class="col-sm-3">Education</dt>
						<dd class="col-sm-9">
							Bachelors Degree in Computer Science and Engineering under Kerala
							University.<br>7.83 CGPA
						</dd>

						<dt class="col-sm-3">Public Profiles</dt>
						<dd class="col-sm-9">
							<ul class="list-inline mb-0">
								<li class="list-inline-item"><a
									href="https://www.linkedin.com/in/prebeesh-s-581136153/"
									target="_blank"> <i class="fab fa-linkedin fa-2x fa-fw"></i>
								</a></li>
								<li class="list-inline-item mr-3"><a
									href="https://stackoverflow.com/users/7288445/prebeesh"
									target="_blank"> <i
										class="fab fa-stack-overflow fa-2x fa-fw"></i>
								</a></li>
								<li class="list-inline-item mr-3"><a
									href="https://github.com/Prebeesh" target="_blank"> <i
										class="fab fa-github fa-2x fa-fw"></i>
								</a></li>
							</ul>
						</dd>
					</dl>
				</div>
			</div>

			<!-- Skills -->
			<section class="section m-2">
				<h3 class="text-center">Skills</h3>
				<p align="center">Prebeesh is good in the below mentioned skill
					sets as per the mentioned status. And is working hard to improve
					them more by time</p>
				<div class="row p-3">
					<div class="col-lg-6 p-2">
						<div class="p-2">
							<h5>Core Java</h5>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 80%;"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
							</div>
						</div>
						<div class="p-2">
							<h5>Spring Boot</h5>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 70%;"
									aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
							</div>
						</div>
						<div class="p-2">
							<h5>MicroServices Architecture</h5>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 60%;"
									aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-2">
						<div class="p-2">
							<h5>Object Oriented Programming</h5>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 75%;"
									aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
							</div>
						</div>
						<div class="p-2">
							<h5>Spring Framework</h5>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 60%;"
									aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
							</div>
						</div>
						<div class="p-2">
							<h5>HTML, CSS, Bootstrap</h5>
							<div class="progress" style="height: 20px;">
								<div class="progress-bar" role="progressbar" style="width: 25%;"
									aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
							</div>
						</div>
					</div>
				</div>


			</section>
			<!-- Skills Section Ends -->

			<!-- Tools and Certification -->
			<section class="section">
				<div class="row mt-3 p-3">
					<div class="col-lg-6 px-5">
						<h3 class="mb-4 text-center">Tools - Good at</h3>
						<div class="row text-center">
							<div class="col-lg-12"></div>
							<div class="h5 p-2">
								<i class="fa fa-wrench fa-1x fa-fw"></i> Maven<span
									class="text-muted"> - A build automation tool</span>
							</div>
							<div class="h5 p-2">
								<i class="fa fa-wrench fa-1x fa-fw"></i> Git <span
									class="text-muted"> - A distributed version-control
									system</span>
							</div>
							<div class="h5 p-2">
								<i class="fa fa-wrench fa-1x fa-fw"></i> Eclipse <span
									class="text-muted"> - An IDE for computer programming</span>
							</div>
							<div class="h5 p-2">
								<i class="fa fa-wrench fa-1x fa-fw"></i> Postman <span
									class="text-muted"> - Tool to test API calls</span>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<h3 class="mb-3 text-center">Certifications</h3>
						<div class="px-2">
							<div class="h5 p-2">
								<i class="fab fa-black-tie" aria-hidden="true"></i>&nbsp Oracle
								Certified Associate, Java SE 8 Programmer
								<p align="right" class="text-muted">- Scored 88% in the exam</p>
								<p align="right">
									<a
										href="https://drive.google.com/file/d/1rvxmJUkTz6LlN2_LJBPQDadvTOL4IAVp/view?usp=sharing"
										target="_blank">See the Certificate</a>
								</p>
							</div>
							<div class="h5 p-2">
								<i class="fab fa-black-tie" aria-hidden="true"></i>&nbsp Online
								Course on Blockchain for Beginners
								<p align="right" class="text-muted">- From CSI Trivandrum</p>
								<p align="right">
									<a
										href="https://drive.google.com/file/d/1L0SKqJBnXb506VdUrfqfcXHRQPT8rhtU/view?usp=sharing"
										target="_blank">See the Certificate</a>
								</p>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- Tools and Certification Ends-->

			<!-- Project -->
			<section class="m-2">
				<h3 class="text-center mb-5">Project Works</h3>
				<dl class="row px-4">
					<dt class="col-sm-3">Find Movies</dt>
					<dd class="col-sm-9">
						Find Movies can be used for checking the availability of your
						favourite movies and shows over different movie streaming
						platforms. Different MicroService built in Spring Boot is
						supporting as the Backend for FindMovies. The Frontend of the
						system is built using Bootstrap. In FindMovies version-1.0, a user
						can input a movie name and appropriate country to check the
						availability of the movie. FindMovies version-2.0 will be adding a
						new feature where a user can give reviews to different movies or
						shows listed inside our application. The MicroService providing
						this extension is now in the workshop of FindMovies.
						<p align="left">
							<a href="https://tinyurl.com/find-movies-online" target="_blank">Checkout
								FindMovies now</a><br> GitHub - production ready source code of
							FindMovies microservices :&nbsp<a
								href="https://github.com/Prebeesh/findmovies-eurekaserver"
								target="_blank">Service 1&nbsp</a><a
								href="https://github.com/Prebeesh/find-movies-frontend"
								target="_blank">Service 2&nbsp</a><a
								href="https://github.com/Prebeesh/movie-name-service-provider"
								target="_blank">Service 3</a>
						</p>
					</dd>

					<dt class="col-sm-3">Sandesh</dt>
					<dd class="col-sm-9">
						Sandesh is an Android Application developed for helping the
						college advisory system. The application helps student advisors in
						an academy to pass essential information to their students.
						Usually student advisors use WhatsApp groups to share those
						necessary information. Sandesh works with SMS gateway, so the
						information to the student/parent will reach them as SMS to their
						cell phones. And this approach reduces the chance for
						students/parents to miss the information even though they are
						offline.
						<p>
							This application developed by Prebeesh solved a realtime problem
							in his academy. And was done during his college days<br> <span
								class="text-muted">Got awarded in All Kerala IEDC Summit
								2018</span>
						</p>

					</dd>
				</dl>
				<p align="right">
					<a
						href="https://drive.google.com/file/d/1Ykgr9pyyhCF-m23WTv0qHRqjTdhAyDAD/view?usp=sharing"
						target="_blank">Download resume here</a>
				</p>
			</section>
			<!-- Project ends-->
		</div>

	</section>

	<!-- Footer -->
	<footer class="footer bg-light border-primary border-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-75 text-center text-lg-left my-auto">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a href="../views/AboutMe.html">About</a></li>
						<li class="list-inline-item">&sdot;</li>
						<li class="list-inline-item"><a
							href="../views/TermsAndConditions.html">Terms of Use</a></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">&copy; Find Movies
						2020. All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 h-75 text-center text-lg-right my-auto">
					<ul class="list-inline mb-0">
						<li class="list-inline-item mr-3"><a
							href="https://www.facebook.com/Prebeesh.S" target="_blank"> <i
								class="fab fa-facebook fa-2x fa-fw"></i>
						</a></li>
						<li class="list-inline-item mr-3"><a
							href="https://twitter.com/PrebeeshS" target="_blank"> <i
								class="fab fa-twitter-square fa-2x fa-fw"></i>
						</a></li>
						<li class="list-inline-item"><a
							href="https://www.instagram.com/prebeesh_s/" target="_blank">
								<i class="fab fa-instagram fa-2x fa-fw"></i>
						</a></li>
						<li class="list-inline-item"><a
							href="https://www.linkedin.com/in/prebeesh-s-581136153/"
							target="_blank"> <i class="fab fa-linkedin fa-2x fa-fw"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<script src="/webapp/vendor/jquery/jquery.min.js"></script>
	<script src="/webapp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>