<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find Movies - Terms And Conditions</title>
</head>
<body>
	<h1>Find Movies Terms of Use</h1>
	<h2>Version 1.0</h2>
	<p>The Find Movies website located at find-movies.in is a copyrighted
		work belonging to Find Movies. Certain features of the Site may be
		subject to additional guidelines, terms, or rules, which will be
		posted on the Site in connection with such features.</p>
	<p>All such additional terms, guidelines, and rules are
		incorporated by reference into these Terms.</p>
	<p>These Terms of Use described the legally binding terms and
		conditions that oversee your use of the Site. BY LOGGING INTO THE
		SITE, YOU ARE BEING COMPLIANT THAT THESE TERMS and you represent that
		you have the authority and capacity to enter into these Terms. YOU
		SHOULD BE AT LEAST 18 YEARS OF AGE TO ACCESS THE SITE. IF YOU DISAGREE
		WITH ALL OF THE PROVISION OF THESE TERMS, DO NOT LOG INTO AND/OR USE
		THE SITE.</p>
	<p>These terms require the use of arbitration Section 10.2 on an
		individual basis to resolve disputes and also limit the remedies
		available to you in the event of a dispute.</p>


	<h3>Access to the Site</h3>
	<p>
		<b>Subject to these Terms.</b> Company grants you a non-transferable,
		non-exclusive, revocable, limited license to access the Site solely
		for your own personal, noncommercial use.
	</p>
	<p>
		<b>Certain Restrictions.</b> The rights approved to you in these Terms
		are subject to the following restrictions: (a) you shall not sell,
		rent, lease, transfer, assign, distribute, host, or otherwise
		commercially exploit the Site; (b) you shall not change, make
		derivative works of, disassemble, reverse compile or reverse engineer
		any part of the Site; (c) you shall not access the Site in order to
		build a similar or competitive website; and (d) except as expressly
		stated herein, no part of the Site may be copied, reproduced,
		distributed, republished, downloaded, displayed, posted or transmitted
		in any form or by any means unless otherwise indicated, any future
		release, update, or other addition to functionality of the Site shall
		be subject to these Terms. All copyright and other proprietary notices
		on the Site must be retained on all copies thereof.
	</p>
	<p>Company reserves the right to change, suspend, or cease the Site
		with or without notice to you. You approved that Company will not be
		held liable to you or any third-party for any change, interruption, or
		termination of the Site or any part.</p>
	<p>
		<b>No Support or Maintenance.</b> You agree that Company will have no
		obligation to provide you with any support in connection with the
		Site.
	</p>
	<p>Excluding any User Content that you may provide, you are aware
		that all the intellectual property rights, including copyrights,
		patents, trademarks, and trade secrets, in the Site and its content
		are owned by Company or Company's suppliers. Note that these Terms and
		access to the Site do not give you any rights, title or interest in or
		to any intellectual property rights, except for the limited access
		rights expressed in Section 2.1. Company and its suppliers reserve all
		rights not granted in these Terms.</p>

	<h3>Third-Party Links & Ads</h3>
	<p>
		<b>Third-Party Links & Ads.</b> The Site may contain links to
		third-party websites and services, and/or display advertisements for
		third-parties. Such Third-Party Links & Ads are not under the control
		of Company, and Company is not responsible for any Third-Party Links &
		Ads. Company provides access to these Third-Party Links & Ads only as
		a convenience to you, and does not review, approve, monitor, endorse,
		warrant, or make any representations with respect to Third-Party Links
		& Ads. You use all Third-Party Links & Ads at your own risk, and
		should apply a suitable level of caution and discretion in doing so.
		When you click on any of the Third-Party Links & Ads, the applicable
		third party's terms and policies apply, including the third party's
		privacy and data gathering practices.
	</p>
	<p>
		<b>Our Advertising Partners.</b> Some of advertisers on our site may
		use cookies and web beacons. Our advertising partners are listed
		below. Each of our advertising partners has their own Privacy Policy
		for their policies on user data. For easier access, we hyperlinked to
		their Privacy Policies below.
	</p>
	<ul>
		<li><p>Google</p>
			<p>
				<a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
			</p></li>
	</ul>

	<h3>Disclaimers</h3>
	<p>The site is provided on an “as-is” and “as available” basis, and
		company and our suppliers expressly disclaim any and all warranties
		and conditions of any kind, whether express, implied, or statutory,
		including all warranties or conditions of merchantability, fitness for
		a particular purpose, title, quiet enjoyment, accuracy, or
		non-infringement. We and our suppliers make not guarantee that the
		site will meet your requirements, will be available on an
		uninterrupted, timely, secure, or error-free basis, or will be
		accurate, reliable, free of viruses or other harmful code, complete,
		legal, or safe. If applicable law requires any warranties with respect
		to the site, all such warranties are limited in duration to ninety
		(90) days from the date of first use.</p>
	<p>Some jurisdictions do not allow the exclusion of implied
		warranties, so the above exclusion may not apply to you. Some
		jurisdictions do not allow limitations on how long an implied warranty
		lasts, so the above limitation may not apply to you.</p>

	<h3>Limitation on Liability</h3>
	<p>To the maximum extent permitted by law, in no event shall
		company or our suppliers be liable to you or any third-party for any
		lost profits, lost data, costs of procurement of substitute products,
		or any indirect, consequential, exemplary, incidental, special or
		punitive damages arising from or relating to these terms or your use
		of, or incapability to use the site even if company has been advised
		of the possibility of such damages. Access to and use of the site is
		at your own discretion and risk, and you will be solely responsible
		for any damage to your device or computer system, or loss of data
		resulting therefrom.</p>
	To the maximum extent permitted by law, notwithstanding anything to the
	contrary contained herein, our liability to you for any damages arising
	from or related to this agreement, will at all times be limited to a
	maximum of fifty U.S. dollars (u.s. $50). The existence of more than
	one claim will not enlarge this limit. You agree that our suppliers
	will have no liability of any kind arising from or relating to this
	agreement.
	<p>Some jurisdictions do not allow the limitation or exclusion of
		liability for incidental or consequential damages, so the above
		limitation or exclusion may not apply to you.</p>
	<p>
		<b>Term and Termination.</b> Subject to this Section, these Terms will
		remain in full force and effect while you use the Site. We may suspend
		or terminate your rights to use the Site at any time for any reason at
		our sole discretion, including for any use of the Site in violation of
		these Terms. Upon termination of your rights under these Terms, your
		Account and right to access and use the Site will terminate
		immediately. You understand that any termination of your Account may
		involve deletion of your User Content associated with your Account
		from our live databases. Company will not have any liability
		whatsoever to you for any termination of your rights under these
		Terms. Even after your rights under these Terms are terminated, the
		following provisions of these Terms will remain in effect: Sections 2
		through 2.5, Section 3 and Sections 4 through 10.
	</p>
	<h3>Copyright Policy.</h3>
	<p>Company respects the intellectual property of others and asks
		that users of our Site do the same. In connection with our Site, we
		have adopted and implemented a policy respecting copyright law that
		provides for the removal of any infringing materials and for the
		termination of users of our online Site who are repeated infringers of
		intellectual property rights, including copyrights. If you believe
		that one of our users is, through the use of our Site, unlawfully
		infringing the copyright(s) in a work, and wish to have the allegedly
		infringing material removed, the following information in the form of
		a written notification (pursuant to 17 U.S.C. § 512(c)) must be
		provided to our designated Copyright Agent:</p>

	<ul>
		<li>your physical or electronic signature;</li>
		<li>identification of the copyrighted work(s) that you claim to
			have been infringed;</li>
		<li>identification of the material on our services that you claim
			is infringing and that you request us to remove;</li>
		<li>sufficient information to permit us to locate such material;</li>
		<li>your address, telephone number, and e-mail address;</li>
		<li>a statement that you have a good faith belief that use of the
			objectionable material is not authorized by the copyright owner, its
			agent, or under the law; and</li>
		<li>a statement that the information in the notification is
			accurate, and under penalty of perjury, that you are either the owner
			of the copyright that has allegedly been infringed or that you are
			authorized to act on behalf of the copyright owner.</li>
	</ul>

	<p>Please note that, pursuant to 17 U.S.C. § 512(f), any
		misrepresentation of material fact in a written notification
		automatically subjects the complaining party to liability for any
		damages, costs and attorney's fees incurred by us in connection with
		the written notification and allegation of copyright infringement.</p>
	<p>
		<b>Entire Terms.</b> These Terms constitute the entire agreement
		between you and us regarding the use of the Site. Our failure to
		exercise or enforce any right or provision of these Terms shall not
		operate as a waiver of such right or provision. The section titles in
		these Terms are for convenience only and have no legal or contractual
		effect. The word “including” means “including without limitation”. If
		any provision of these Terms is held to be invalid or unenforceable,
		the other provisions of these Terms will be unimpaired and the invalid
		or unenforceable provision will be deemed modified so that it is valid
		and enforceable to the maximum extent permitted by law. Your
		relationship to Company is that of an independent contractor, and
		neither party is an agent or partner of the other. These Terms, and
		your rights and obligations herein, may not be assigned,
		subcontracted, delegated, or otherwise transferred by you without
		Company's prior written consent, and any attempted assignment,
		subcontract, delegation, or transfer in violation of the foregoing
		will be null and void. Company may freely assign these Terms. The
		terms and conditions set forth in these Terms shall be binding upon
		assignees.
	</p>
	<p>
		<b>Copyright/Trademark Information.</b> Copyright ©. All rights
		reserved. All trademarks, logos and service marks displayed on the
		Site are our property or the property of other third-parties. You are
		not permitted to use these Marks without our prior written consent or
		the consent of such third party which may own the Marks.
	</p>
	<h3>Contact Information Address:</h3>
	<p>prebeesh.surendran@gmail.com</body>

</html>